<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d %p %processId --- [%t] %c : %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.ms3_inc.camel.extensions.rest.SwaggerRequestValidator" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>